#file-reader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(232, 232, 232);
  color: #212121;
  font-size: 15px;
  box-sizing: border-box;
  cursor: default;
  border: 1px solid #bebebe;
  resize: both;
  overflow: auto;
}

#file-reader .file-reader-wrapper {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  user-select: none;
}

#file-reader .control-panel {
  height: 30px;
  width: 100%;
  background-color: #d0d0d0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

#file-reader .control-panel .control-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 2px;
  box-sizing: border-box;
}

#file-reader .control-panel .control-button:hover {
  background-color: #ffffff61;
}

#file-reader .control-panel .close-button {
  font-size: 22px;
}

#file-reader .control-panel .close-button:hover {
  background-color: #a40303;
  color: #fff;
  padding-right: 5px;
}

#file-reader .navigation-panel {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 10px;
}

#file-reader .navigation-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-reader .navigation-button {
  width: 25px;
  font-size: 18px;
  border: none;
  padding: 0;
  background-color: inherit;
}

#file-reader .navigation-button:disabled {
  color: #919090;
}

#file-reader .file-reader-wrapper .path-container {
  width: 100%;
  border: 1px solid #d0d0d0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  gap: 8px;
}

#file-reader .path-container .path-icon {
  width: 20px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

#file-reader .path .path-icon::after {
  content: '>';
  margin: 0 8px;
}

#file-reader .path {
  display: flex;
  height: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#file-reader .path .path-item {
  list-style: none;
  padding: 0 8px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

#file-reader .path .path-item:hover {
  background-color: #ffffff61;
}

#file-reader .path .path-item::after {
  content: '>';
  margin: 0 0 0 8px;
}

#file-reader .file-reader-wrapper .file-list {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
}

#file-reader .file-list .file-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

#file-reader .file-list .file-item:hover {
  background-color: #ffffff61;
  border-radius: 5px;
}

#file-reader .file-list .file-item.disabled-hover {
  pointer-events: none;
}

#file-reader .file-list .input-new-name {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3b3a3a;
}

#file-reader .file-list .icon {
  width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#file-reader .file-list .file-description {
  text-align: center;
  margin: 0;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

#file-reader .file-list .file-item.hide {
  display: none;
}

#file-reader .file-item.active-item {
  background-color: #93929261;
}

#file-reader .file-item.active-item:hover {
  background-color: #93929261;
}

#file-reader .file-context-menu,
#file-reader .common-context-menu {
  position: absolute;
  width: 100px;
  padding: 10px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
}

#file-reader .file-context-menu li,
#file-reader .common-context-menu li {
  padding: 5px 10px;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}

#file-reader .file-context-menu li:hover,
#file-reader .common-context-menu li:hover {
  background-color: #f7f1f1;
}

#file-reader .file-context-menu li::first-letter,
#file-reader .common-context-menu li::first-letter {
  text-transform: uppercase;
}

#file-reader .copied {
  opacity: 0.5;
}

#file-reader .selected-area {
  position: absolute;
  background-color: rgba(167, 57, 57, 0.403);
}
