#app-manager {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(232, 232, 232);
  color: #5e5a5a;
  border: 1px solid #bebebe;
  font-size: 15px;
  box-sizing: border-box;
  cursor: default;
  border-radius: 15px;
  padding: 20px;
}

#app-manager .app-manager-wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
}

#app-manager .search-container {
  position: relative;
  color: #5e5a5a;
  width: 100%;
}

#app-manager .search-input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #979292;
  border-radius: 20px;
  padding: 0 10px 0 35px;
  color: #5e5a5a;
  outline: none;
  box-sizing: border-box;
}

#app-manager .search-icon {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3px;
  top: 0;
}

#app-manager .app-list {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  font-size: 12px;
  overflow: auto;
}

#app-manager .app-item {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

#app-manager .app-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#app-manager .app-name {
  text-align: center;
  margin: 0;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

#app-manager .app-item:hover {
  background-color: #ffffff61;
}

#app-manager .user-panel {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app-manager .user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#app-manager .user-name {
  font-size: 18px;
}

#app-manager .user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#app-manager .off-button,
#app-manager .new-user-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #6e6c6c;
  outline: none;
  border: none;
}

#app-manager .off-button:hover,
#app-manager .new-user-button:hover {
  background-color: #ffffff61;
}

.modal-wrapper {
  height: calc(100vh - 45px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;
}

.modal-wrapper .modal-container {
  position: absolute;
  top: calc(50vh - 45px);
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: rgb(232, 232, 232);
  color: #5e5a5a;
  padding: 10px 15px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-wrapper .close-modal-wrapper {
  align-self: flex-end;
  font-size: 23px;
}

.modal-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal-wrapper .new-user-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.modal-wrapper .new-user-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-wrapper .new-user-info label {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-wrapper .new-user-info input {
  outline: none;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  background-color: transparent;
  padding: 4px 5px 2px;
}

.modal-wrapper .new-user-photo-label {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-wrapper .new-user-photo-label input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.modal-wrapper .save-user-button {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #e25858;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.modal-wrapper .save-user-button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.modal-wrapper .new-user-error {
  margin: 0;
  color: red;
  font-size: 12px;
}
